# This file contains pin mappings for the stock 2020 Creality Ender 3
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2C0055000F50415833323520-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000
max_z_velocity: 15
max_z_accel: 150

# mainsail settings
[include mainsail.cfg]

[gcode_arcs]

[gcode_macro G29]
gcode: 
  G28
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=preflight
  G1 X0 Y0 Z5 F4000

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(50)|float %}
    #SAVE_GCODE_STATE NAME=M600_state
    SET_IDLE_TIMEOUT TIMEOUT=30000
    PAUSE
    G91
    G1 E-5 F2700
    G1 Z{Z}
    #G1 E-100 F5000
    G90
    G1 X{X} Y{Y} F3000
    #G91

# -------------
# motion system
# -------------

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
endstop_pin: ^PC0
microsteps: 16
rotation_distance:40
position_endstop: -13
position_min: -13
position_max: 220
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
endstop_pin: ^PC1
microsteps: 16
rotation_distance: 40
position_endstop: -30
position_min: -30
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
endstop_pin: probe:z_virtual_endstop
microsteps: 16
rotation_distance: 8.00
position_max: 245
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

# -------------
# hot bits
# -------------

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.719
nozzle_diameter: 0.40
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
min_extrude_temp: 0
max_extrude_cross_section: 2.75

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.5
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

# -------------
# cold bits
# -------------

# fan 0
[fan]
pin: PC6

# fan 1
[heater_fan heatbreak_cooling_fan]
pin: PC7

# fan 2
[heater_fan controller_fan]
pin: PB15

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>
    
# -------------
# bed level
# -------------

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
stow_on_each_sample: false
probe_with_touch_mode: true
pin_up_touch_mode_reports_triggered: false
speed: 100
lift_speed: 200
samples: 2
sample_retract_dist: 10
samples_tolerance_retries: 4
x_offset: 42
y_offset: 0
#z_offset: 1

[safe_z_home]
speed: 100
z_hop: 10
z_hop_speed: 10
home_xy_position: 68,110

[bed_mesh]
speed: 100
horizontal_move_z: 10
probe_count: 5,5
algorithm: bicubic
mesh_min: 30,5
mesh_max: 220,220

[screws_tilt_adjust]
screw1: -13,30
screw1_name: front_left
screw2: 150,30
screw2_name: front_right
screw3: -13,200
screw3_name: back_left
screw4: 150,200
screw4_name: back_right

horizontal_move_z: 10
speed: 1500
screw_thread: CW-M4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.891
#*# pid_ki = 0.985
#*# pid_kd = 133.054
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.440
#*# pid_ki = 1.745
#*# pid_kd = 731.366
#*#
#*# [bltouch]
#*# z_offset = 0.747
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.008584, 0.013489, 0.015941, 0.006131, -0.009810
#*# 	0.039240, 0.025751, 0.024525, 0.002453, 0.020846
#*# 	0.004905, 0.034335, 0.030656, -0.002452, 0.003679
#*# 	0.001226, 0.012263, 0.000000, -0.017167, -0.018394
#*# 	0.019620, 0.009810, 0.007358, -0.018394, 0.003679
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 220.0
#*# min_y = 5.0
#*# max_y = 220.0
#*#
#*# [bed_mesh preflight]
#*# version = 1
#*# points =
#*# 	0.008584, 0.013489, 0.015941, 0.006131, -0.009810
#*# 	0.039240, 0.025751, 0.024525, 0.002453, 0.020846
#*# 	0.004905, 0.034335, 0.030656, -0.002452, 0.003679
#*# 	0.001226, 0.012263, 0.000000, -0.017167, -0.018394
#*# 	0.019620, 0.009810, 0.007358, -0.018394, 0.003679
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 220.0
#*# min_y = 5.0
#*# max_y = 220.0
